<app-header></app-header>
<div class="container">
  <div class="filter-status">
    <div class="filter-summary"
      *ngIf="filterLabel$">
      Viendo: {{ filterLabel$ | async }}
    </div>
    <a class="btn-flat" (click)="toggleFilter()">
      <i class="material-icons">tune</i>
    </a>
  </div>

  <ul class="tabs">
    <li class="tab col s3">
      <a routerLink="/inicio/muro"
        routerLinkActive="active">
        Muro
      </a>
    </li>
    <li class="tab col s3">
      <a routerLink="/inicio/lista"
         routerLinkActive="active">
        Lista
      </a>
    </li>
    <li class="tab col s3">
      <a routerLink="/inicio/calendario"
         routerLinkActive="active">
        Calendario
      </a>
    </li>
    <li class="tab col s3">
      <a routerLink="/inicio/mapa"
         routerLinkActive="active">
        Mapa
      </a>
    </li>
  </ul>

  <app-filter-panel *ngIf="filterOpen">
  </app-filter-panel>

  <div class="row" *ngIf="activeTab === 'wall'">
    <div class="col s12 m6 l4">
      <app-social-card
        *ngFor="let item of columns[0]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col s12 m6 l4">
      <app-social-card
        *ngFor="let item of columns[1]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col s12 m6 l4">
      <app-social-card
        *ngFor="let item of columns[2]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col 12"
      *ngIf="(columns[0].length === 0) &&
             (columns[1].length === 0) &&
             (columns[2].length === 0)">
      <p>No tenemos noticias que correspondan a estos filtros</p>
    </div>
  </div>

  <div class="row" *ngIf="activeTab === 'list'">
    <div class="col s12 l10 offset-l1"
      *alias="directory.selectedEntities$ | async as selectedEntities">
      <!-- See https://github.com/angular/angular/issues/15280
           and https://www.npmjs.com/package/ngx-alias -->
      <ul class="collection"
          *ngIf="selectedEntities && selectedEntities.length > 0">
        <li class="collection-item avatar"
          *ngFor="let entity of selectedEntities">
          <a [routerLink]="['/ficha', entity.id]">
            <img src="{{ entity.imageUrl }}" alt="" class="circle">
            <div class="title">
              {{ entity.name }}
              <span class="badge"
                *ngFor="let category of entity.categories">
                {{ category.name }}
              </span>
            </div>
            <p>{{ entity.description }}</p>
            <div class="secondary-content favorite">
              <a><i class="material-icons">grade</i></a>
            </div>
          </a>
        </li>
      </ul>
      <p *ngIf="!selectedEntities || selectedEntities.length === 0">
        No tenemos entidades que correspondan a estos filtros
      </p>
    </div>
  </div>

  <div class="row" *ngIf="activeTab === 'calendar'">
    <iframe frameborder="0" height="600" scrolling="no"
      src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=hammo.org_81lljq1lu6qocq8mlsp2eddv9o%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=Europe%2FMadrid"
      style="border-width: 0;" width="100%">
    </iframe>
  </div>

  <div class="row" *ngIf="activeTab === 'map'">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dlXsMgTGktO12WMxnHpov0FNR4zmLRvV"
      width="100%" height="800">
    </iframe>
  </div>

</div>
