<app-header></app-header>
<div class="container">
  <div class="filter-status">
    <div class="filter-summary"
      *ngIf="filterLabel$">
      Viendo: {{ filterLabel$ | async }}
    </div>
    <a class="btn-flat" (click)="toggleFilter()">
      <i class="material-icons">tune</i>
    </a>
  </div>

  <ul class="tabs">
    <li class="tab col s3">
      <a [class.active]="currentTab === 1"
        (click)="setTab(1)">Muro</a>
    </li>
    <li class="tab col s3">
      <a [class.active]="currentTab === 2"
        (click)="setTab(2)">Lista</a>
    </li>
    <li class="tab col s3">
      <a [class.active]="currentTab === 3"
        (click)="setTab(3)">Mapa</a>
    </li>
  </ul>

  <app-filter-panel *ngIf="filterOpen">
  </app-filter-panel>

  <div class="row" *ngIf="currentTab === 1">
    <div class="col s12 m6 l4">
      <app-social-card
        *ngFor="let item of columns[0]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col s12 m6 l4">
      <app-social-card
        *ngFor="let item of columns[1]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col s12 m6 l4">
      <app-social-card
        *ngFor="let item of columns[2]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col 12"
      *ngIf="(columns[0].length === 0) &&
             (columns[1].length === 0) &&
             (columns[2].length === 0)">
      <p>No tenemos noticias que correspondan a estos filtros</p>
    </div>
  </div>

  <div class="row" *ngIf="currentTab === 2">
    <div class="col s12 l10 offset-l1"
      *alias="entities.selectedEntities$ | async as selectedEntities">
      <!-- See https://github.com/angular/angular/issues/15280
           and https://www.npmjs.com/package/ngx-alias -->
      <ul class="collection"
          *ngIf="selectedEntities.length > 0">
        <li class="collection-item avatar"
          *ngFor="let entity of selectedEntities">
          <img src="{{ entity.imageUrl }}" alt="" class="circle">
          <div class="title">
            {{ entity.name }}
            <span class="badge"
              *ngFor="let category of entity.categories">
              {{ category.name }}
            </span>
          </div>
          <p>{{ entity.description }}</p>
          <div class="secondary-content favorite">
            <a><i class="material-icons">grade</i></a>
          </div>
        </li>
      </ul>
      <p *ngIf="selectedEntities.length === 0">
        No tenemos entidades que correspondan a estos filtros
      </p>
    </div>
  </div>

  <div class="row" *ngIf="currentTab === 3">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dlXsMgTGktO12WMxnHpov0FNR4zmLRvV"
      width="100%" height="800">
    </iframe>
  </div>

</div>
