@import "../../styles/styles";

.container {
  position: relative;
}

.filter-status {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  float: right;
}

@media(min-width: #{$medium-screen-up}) {
  .filter-status {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    max-width: 60%;
    margin-top: 0.25rem;
  }
}

.tabs {
  margin-top: 0.5rem;

  .active {
    font-weight: bold;
  }
}

.collection-item {
  .title {
    font-weight: bold;
    margin-right: 2rem;
  }

  p {
    margin-right: 2rem;
  }

  .favorite {
    top: 9px;
  }
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.modal.open {
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
  z-index: 1003;
}

.warning {
  padding: 1rem;
  text-align: center;
}
