.container {
  position: relative;
}

.filter-status {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  filter-summary {
    margin-left: 1rem;
  }
}

.tabs {
  margin-top: 0.5rem;

  .active {
    font-weight: bold;
  }
}

.collection-item {
  .title {
    font-weight: bold;
    margin-right: 2rem;
  }

  p {
    margin-right: 2rem;
  }

  .favorite {
    top: 9px;
  }
}
