<div class="card">

  <div class="card-content card-header">
    <a href="{{ item.network.url }}" target="_blank">
      <img class="network-icon" src="{{ item.network.iconUrl }}" />
    </a>
    <div class="header-data">
      <div class="collective-name">
        <a href="{{ item.network.url }}" target="_blank">
          {{ item.entity.name }}
        </a>
      </div>
      <div class="post-date">{{ item.post.date | date:'medium' }}</div>
    </div>
    <img class="type-icon" src="{{ typeIcon() }}" />
  </div>

  <div class="card-image">
    <a href="{{ item.post.url }}" target="_blank">
      <img src="{{ item.post.imageUrl }}">
    </a>
  </div>

  <div class="card-content">
    <a href="{{ item.post.url }}" target="_blank">
      <p>{{ item.post.text | striphtml }}</p>
    </a>
  </div>

  <div class="card-action">
    <a href="{{ item.post.url }}" target="_blank">Ver post</a>
  </div>
</div>
