.card-header {
  padding: 1rem;
  display: flex;

  .network-icon {
    width: 40px;
    height: 40px;
  }

  .type-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
  }
}

.header-data {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  .collective-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .post-date {
    font-size: 0.8rem;
    font-style: italic;
  }
}

