<div class="card">
  <div class="card-content card-header">
    <img src="https://scontent.fmad10-2.fna.fbcdn.net/v/t1.0-1/cp0/p40x40/12651169_1096637443700121_717760376049139568_n.png?_nc_cat=104&ccb=2&_nc_sid=1eb0c7&_nc_ohc=YOW2qNt8swsAX_Aogj0&_nc_ht=scontent.fmad10-2.fna&_nc_tp=30&oh=073e9a77f437be0ac8fc0beb9bebf9dd&oe=5FFBF98A" />
    <div class="header-data">
      <div class="collective-name">Espartales Unidos</div>
      <div class="post-date">13 diciembre 19:18h</div>
    </div>
  </div>
  <div class="card-image">
    <img src="{{ image }}">
  </div>
  <div class="card-content">
    <p>{{ text }}</p>
  </div>
</div>
