<nav class="nav-extended main-background">

  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">Inicio</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/plan">El Plan</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/consejo">Consejo</a>
      </li>
    </ul>
  </div>

  <div class="nav-header center">
    <h2>Espartales y Ciudad 10</h2>
    <h5>El portal del Barrio</h5>
  </div>
</nav>
