<app-header></app-header>
<div class="container">
  <h1>Espartales</h1>

  <img class="decorative-image right" src="/assets/img/espartales.jpg" />

  <p>Espartales es un barrio residencial perteneciente al Distrito IV
  de Alcalá de Henares. Se comenzó a construir en 1997, con la creación de la
  zona Espartales Sur y se finalizó en 2015 con Espartales Norte.</p>

  <h2>Geografía</h2>

  <p>Al norte delimita con los "Humedales del Camino del Sueño", un parque
  natural de pequeñas lagunas y humedales que actualmente están contaminadas
  (se espera que en algún futuro el Ayuntamiento de Alcalá de Henares se
  espera desinfecte la zona y cree una gran zona verde). Al noroeste se
  localizan la finca "El Alamillo", antigua granja avícola y la antigua finca
  El Pico Valsaron, que está compuesta por 148 parcelas delimitadas con calles
  interiores.</p>

  <p>Al oeste está la carretera hacia Camarma de Esteruelas, junto a la cual
  se ubica el "Pasillo Verde del Camarmilla", un parque natural, reforestado
  que recupera la anterior ribera del arroyo antes de llegar a Alcalá.</p>

  <p>La Autovía del Noroeste o A-2 al su separa Espartales de el Ensanche.
  Desde la autovía se divisan distintos tipos de edificios públicos y
  municipales como la Junta de Distrito, el Centro de Especialidades Francisco
  Díaz, residencias para la tercera edad, colegios o zonas comerciales.</p>

  <p>Finalmente, al este hace frontera con la "Urbanización de Ciudad 10" que
  tiene el mismo modelo de construcción que Espartales, y está muy cerca del
  Hospital Universitario Príncipe de Asturias y del Campus
  Científico-Tecnológico de la UAH.</p>

  <h2>Edificios interesantes</h2>

  <ul class="browser-default">
    <li>Centro Cultural "La Galatea", detrás del Carrefour.</li>
    <li>Centro de salud Miguel de Cervantes.</li>
    <li>Escuela infantil Los Molinos.</li>
    <li>Colegio Público Espartales.</li>
    <li>Instituto Lázaro Carreter.</li>
    <li>Campo Municipal de Fútbol.</li>
    <li>Ciudad Deportiva muncipal Espartales.</li>
    <li>Centro comercial Alcalá Atenea.</li>
  </ul>

</div>
