<app-header></app-header>
<div class="container">
  <p>&nbsp;</p>
  <div class="row">
    <div class="col s4">
      <app-social-card
        *ngFor="let item of columns[0]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col s4">
      <app-social-card
        *ngFor="let item of columns[1]"
        [item]=item>
      </app-social-card>
    </div>
    <div class="col s4">
      <app-social-card
        *ngFor="let item of columns[2]"
        [item]=item>
      </app-social-card>
    </div>
  </div>
</div>
